table.emma-table i{
    color: #308ee0;
    cursor: pointer;
}

.emma-grid-margin {
    margin-bottom: 10px;
}

.modal-md {
    max-width: 60%;
}
.modal-xmd {
	max-width: 75%;
}
.CodeMirror {
 	height: 210px;
}
.wrapper-th-feature-outline {
	width: 150px !important;
    max-width: 150px !important;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-line!important;
    line-height: 1.5rem !important;
}
.wrapper-th-steps-outline {
	width: 250px !important;
    max-width: 250px !important;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-line!important;
    line-height: 1.5rem !important;
}
#stepDefListingTable tbody tr td {
	text-align: center;
}
.comment-widgets {
    position: relative;
    margin-bottom: 10px;
    max-height: 350px;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.flex-row {
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}
.comment-widgets .comment-row {
    border-bottom: 1px solid transparent;
    padding: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0;
}
.m-t-0 {
    margin-top: 0;
}
.p-2 {
    padding: 0.5rem!important;
}
.w-100 {
    width: 100%!important;
}
.comment-text {
    padding-left: 15px;
}
.emma-font-medium {
	margin-top: 0;
	margin-bottom: 0.2rem;
    font-family: inherit;
    line-height: 1.2;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
}
.d-block {
    display: block!important;
}
.m-b-15 {
    margin-bottom: 7px;
}
.emma-sub-step-block-span {
	font-size: small;
    color: #8f979e;
    font-weight: 100;
}
.float-right {
    float: right!important;
}
.text-muted {
    color: #a1aab2!important;
}
.cursor-pointer {
 	cursor: pointer;
}
.ModelEditOpsLbl {
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.ModelEditOpsLbl label {
    font-size: medium;
    position: relative;
    top: 0.7rem;
    color: #797575;
    font-family: cursive;
}
.pad-right-0 {
    padding-right: 0;
}
.pad-left-0 {
    padding-left: 0;
}

